KingOfTokyo/**/build/
KingOfTokyo/.gradle/
KingOfTokyo/local.properties
KingOfTokyo/.idea/

*.apk
*.ap_
*.aab
*.dex
*.class

.DS_Store
Thumbs.db

KingOfTokyo/captures/
KingOfTokyo/*.iml
KingOfTokyo/*.iws
KingOfTokyo/*.log

KingOfTokyo/.navigation/
KingOfTokyo/.externalNativeBuild/
KingOfTokyo/.cxx/
KingOfTokyo/obj/
KingOfTokyo/lint/
KingOfTokyo/lint-results.html
KingOfTokyo/lint-results.xml
KingOfTokyo/reports/

KingOfTokyo/*.hprof
KingOfTokyo/*.tmp
KingOfTokyo/*.temp

